body {
    padding: 15px 20px 15px;
}

.layout-header {
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.layout-header h1 {
    margin-bottom: 10px;
}

.tab {
    /* background-color: rgb(127, 160, 122); */
    margin-left: 12px;
    border-collapse: collapse;
}

.nav .nav-item .nav-link {
    color: black; /* rgb(42, 110, 34); */
    border-style: solid;
    border-color: rgb(128, 128, 128);
    border-width: 1px;
    margin-left: -1px;
}

hr {
    margin-top: 23px;
    border-color: rgba(0, 0, 0, 0.479);
}

.btn .btn-warning {
    height: 30px;
    width: auto;
}

.grid-auction-list-heading {
    display: grid;
    grid-template-columns: 300px auto;
    margin-bottom: 0px;
    padding-left: 10px;
}

.grid-auction-list-heading .grid-item {
    display: flex;
    justify-content: right;
    align-items: center;
}

.grid-auction-list-heading a {
    color: black; /* rgb(42, 110, 34); */
}

.auction-container {
    border-style: solid;
    border-color: rgb(128, 128, 128);
    border-width: 1.5px;
    border-radius: 2px;
    padding: 10px 15px 10px;
    min-width: 360px;
    max-width: 360px;
    margin: 20px 30px 20px;
}

.auction-container .image-container {
    text-align: center;
    margin: 10px 0px 20px;
}

.auction-container img {
    width: 300px;
}

.auction-container .header {
    display: flex;
    max-width: 100%;
}

.auction-container .name-container {
    flex: 0 0 275px;
}

.auction-container .name {
    font-size: 20px;
    font-weight: 5px;
    font-style: normal;
    color: black;
}

.auction-container .bid-container {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
}

.auction-container .username-container {
    display: flex;
    justify-content: right;
}

.username-container p {
    font-size: 15px;
}

.bid-container p {
    font-weight: bold;
}

.auction-container p {
    margin-top: 3px;
    margin-bottom: 7px;
}

.auction-container .user-information {
    display: grid;
    grid-template-columns: 50% auto;
}

.user-information .winner-container {
    display: flex;
    justify-content: right;
}

.user-information .winner {
    font-weight: bold;
}

.item-container {
    display: flex;
    height: 450px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.479);
    padding: 0px 10px 15px;
}

.item-container img.resize {
    flex: 0 0 450px;
    height: auto;
    max-width: 100%
}

.item-container .non-image-container {
    flex: 1;
    padding-left: 15px;
}

.item-container .descriptions-container {
    height: 90%;
}

.bid-container form {
    display: flex;
    flex-direction: row;
}

.bid-container p {
    font-weight: normal;
    margin-right: 6px;
}

.bid-container .form-field {
    margin-right: 6px;
}

.item-container .close-bid-button-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-bottom: 14px;
}

.comment-list-container {
    margin-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

.comment-list-container h3 {
    margin-top: 14px;
    margin-bottom: 18px;
}

.comments-form-container {
    height: 120px;
}

.comments-form-container form {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.comments-form-container p {
    margin-right: 6px;
    font-size: 18px;
    font-weight: 3px;
}

.comments-form-container .form-field {
    margin-right: 6px;
    width: 50%;
}

.comments-form-container textarea {
    height: 100%;
    width: 100%;
}

.comments-form-container .button-container {
    display: flex;
    align-items: end;
}

.comments-list {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.comments-list .no-comment {
    font-size: 15px;
    margin: 10px 0px 15px;
    padding-left: 50px;
    color: rgb(0, 0, 0);
}

.comment-container {
    width: 100%;
    height: 150px;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.479);
    padding: 10px 15px 10px;
    margin-bottom: 15px;
}

.comment-container .heading {
    display: flex;
    flex-direction: row;
}

.comment-container .name {
    flex: 0 0 200px;
    margin-right: 10px;
    font-weight: bold;
}

.comment-container .time {
    display: flex;
    flex: 1;
    justify-content: right;
}