{% extends "auctions/layout.html" %}

{% block body %}
    <div class="grid-auction-list-heading">
        <h2>Closed Listings</h2>
    </div>
    {% for item in closed_items %}
        <div class="auction-container">
            <div class="image-container">
                <img src="{{ item.img_url }}">
            </div>
            <div class="header">
                <div class="name-container">
                    <a class="name" href="{% url 'item' item.id %}">{{ item.title }}</a>
                </div>
                <div class="bid-container">
                    <p class="starting-bid">${{ item.closing_bid }}</p>
                </div>
            </div>
            <div class="user-information">
                <p class="username">{{ item.creater }}</p>
                <div class="winner-container"><p class="winner">Sold to: {{ item.winner }}</p></div>
            </div>
            <p class="description">{{ item.description }}</p>
        </div>
    {% empty %}
        <h3 class="no-auctions">No Closed Auctions.</h3>
    {% endfor %}
{% endblock %}