{% extends "auctions/layout.html" %}

{% block body %}
    <div class="grid-auction-list-heading">
        <h2>Active Listings</h2>
        <div class="grid-item"><a href="{% url 'add' %}">Create New Auction</a></div>
    </div>

<!-- Think about how to use bootstrap's column system to make this response design -->
    {% for auction in auctions_list %}

        <div class="auction-container">
            <div class="image-container">
                <img src="{{ auction.img_url }}">
            </div>
            <div class="header">
                <div class="name-container">
                    <a class="name" href="{% url 'item' auction.id %}">{{ auction.title }}</a>
                </div>
                <div class="bid-container">
                    <p class="starting-bid">${{ auction.starting_bid }}</p>
                </div>
            </div>
            <p class="username">{{ auction.creater }}</p>
            <p class="description">{{ auction.description }}</p>
        </div>

    {% empty %}

        <h3 class="no-auctions">No Active Auctions.</h3>

    {% endfor %}
{% endblock %}