{% extends "auctions/layout.html" %}

{% block body %}
    <div class="item-container">
        <img src="{{ item.img_url }}">
        <div class="non-image-container">
            <div class="descriptions-container">
                <h3>{{ item.title }}</h3>
    
                {% if item.active and bid_form %}
                    <div class="bid-container">
                        <h4>Current Bid: ${{ highest_bid }}</h4>
                            {% if user.is_authenticated %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="enter-bid">Enter Bid: </div>
                                    <div class="form-field">{{ bid_form.bid_amount }}</div>
                                    <div class="Form-field"><button type="submit" class="button submit-button">Bid</button></div>
                                </form>
                            {% else %}
                                <h><strong>Note: </strong>Please log in to bid on items.</p>
                            {% endif %}
                    </div>
                {% else %}
                    <h4>This Auction is CLOSED.</h4>
                    {% if user.is_authenticated and user == item.winner %}
                        <h4>You are the winner of this Auction!!! CONGRATS!!!</h4>
                        <p>U better give dat money (${{ item.highest_bid }}) to <strong>{{ item.creater }}</strong> user >:(</p>
                    {% else %}
                        <p>The winner is <strong>{{ item.winner }}</strong> with <strong>${{ item.highest_bid }}</strong>!!!!</p>
                    {% endif %}
                {% endif %}
    
                {% if message %}
                    <h5>{{ message }}</h5>
                {% endif %}
    
                <p>{{ item.description }}</p>
            </div>
    
            {% if item.active and user.is_authenticated %}
                {% if user == item.creater %}
                    <div class="close-bid-button-container">
                        <form method="POST">
                            {% csrf_token %}
                            <button class="button close-bid-button" type="submit" name="close_bid">Close Bid!!!!</button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="comment-list-container">
        <h3>Comments</h3>

        <div class="comments-form-container">
            <form method="POST">
                {% csrf_token %}
                <div class="form-field">{{ comment_form.content }}</div>
                <div class="button-container"><button type="submit" class="button submit-button">Comment!</button></div>
            </form>
        </div>
        
        <div class="comments-list">
            {% for comment in comments_list %}
                <div class="comment-container">
                    <div class="heading">
                        <p class="name">{{ comment.user }}</p>
                        <div class="time"><p>{{ comment.time }}</p></div>
                    </div>
                    <p class="comment">{{ comment.content }}</p>
                </div>
            {% empty %}
                <p class="no-comment">No comments yet. Want to be the first? :o</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}