{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block body %}
    {% if message %}
        {% if entry_name %}
            <h3>{{ message }}<a href="{% url 'entry' entry_name %}">{{ entry_name }}</a></h3>
        {% else %}
            <h3>{{ message }}</h3>
        {% endif %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" id="create-page-title" name="title" placeholder="Title">
        <textarea id="create-page-content" name="content" placeholder="Content (Enter in Markdown)"></textarea>
        <input type="submit">
    </form>
{% endblock %}