{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h3>Edit Page for <a href="{% url 'entry' entry_name %}">{{ entry_name }}</a></h3>

    {% if message %}
        <h4>{{ message }}</h4>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" id="create-page-title" name="title" value="{{ entry_name }}">
        <textarea id="create-page-content" name="content">{{ markdown_source }}</textarea>
        <input type="submit" value="save">
    </form>
{% endblock %}