@keyframes fade-out {
    from {
        color: black;
    }

    to {
        color: white;
    }
}

.todopage {
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: center;
}

.todo-container {
    width: 75%;
}

.todopage h1 {
    text-align: center;
}

.date-container {
    text-align: right;
    margin-bottom: 0.75rem;
}

.add-button-container {
    display: flex;
    justify-content: right;
}

.add-button {
    line-height: 27px;
    font-size: 27px;
    padding: 0 8px 4px;
    margin-bottom: 1rem;
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
    font-weight: 550;
    box-shadow: 0px 2px 8px 0px rgba(133, 133, 133, 0.25);
}

.add-button:hover {
    background-color: rgb(218, 218, 218);
    border: solid black 1px;
    border-radius: 5px;
}

.item-list {
    display: flex;
    flex-direction: column;
}

.item-container-animate {
    animation-name: fade-out;
    animation-duration: 1s;
}

.checkbox {
    margin-right: 0.75rem;
    accent-color: white;
    transform: scale(1.5);
}

.checkbox:checked {
    outline: none;
}

.item-content {
    margin-right: 1rem;
    width: 100%;
}

.item-content-new {
    width: 100%;
}

.trashcan {
    padding-top: 0.45rem;
    height: 20px;
}

.item {
    display: flex;
    width: 100%;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.item-checked {
    display: flex;
    width: 100%;
    font-size: 20px;
    margin-bottom: 0.5rem;
    text-decoration: line-through;
    color: rgb(134, 134, 134);
}

.new-item-textbox {
    max-height: 1.3rem;
    width: 100%;
    max-width: 40rem;
    padding: 0 0.2rem 0;
    font-size: 20px;
    border: solid 1px rgb(85, 85, 85);
    border-radius: 3px;
}

.new-item-textbox:focus {
    outline: none;
}